<!doctype html>
<html>
<head>
        <!-- Add Title tag here and give tite as Virtual Whiteboard -->
</head>

<body>

    <!-- Add start center tag here -->
        <!-- Add H1 tag and define heading as "Virtual WhiteBoard" -->
    <!-- Add end center tag here -->
    
    <!-- Define Paragraph tag and add small desc about this Virtual Whiteboard webapp -->
   
    <!-- Define button tag and Name it as Brush Color -->
    <!-- Define another button tag and Name it as Clear -->
    
        
</body>

</html>
